#fruitOptions {
    width: 500px;
}

.awesomplete {
    width: 100% !important;
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5A6A85;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #DFE5EF;
    border-radius: 7px;
    box-shadow: unset;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.images_select-ss {
    border: 0px solid rgba(0, 72, 255, 0.678);

    transition: all 0.2s;
}

.img-selected {
    border-radius: 10px;
    transition: all 0.2s;
    animation: all 0.2s;
    border: 5px solid rgba(0, 72, 255, 0.678);

}

.custum-file-upload img {
    margin-right: 5px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: space-between;

    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px solid #cacaca;
    background-color: rgba(255, 255, 255, 1);

    border-radius: 5px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
    display: none;
}

ul[role="listbox"] li {
    padding: 5px 0;
    margin: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.009);
}

/* The switch - the box around the slider */
.custom-switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1em;
}

/* Hide default HTML checkbox */
.custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.custom-slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-switch input:checked+.custom-slider {
    background: #0974f1;
}

.custom-switch input:focus+.custom-slider {
    box-shadow: 0 0 1px #0974f1;
}

.custom-switch input:checked+.custom-slider:before {
    transform: translateX(1.6em);
}